@model List<EbookWEB.Models.PublisherDto>
@{
    ViewBag.Title = "Publisher";
}
<h1>Enter Author Information</h1>
<form method="post" action="/Publisher/Create" class="mt-5">
    <div class="mb-3">
        <label class="form-label">First name</label>
        <input type="text" class="form-control" name="name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Last name</label>
        <input type="text" class="form-control" name="city" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="state" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="country" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<h2>Authors</h2>
<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="number" name="searchId" class="form-control" placeholder="Search by author ID" value="@ViewData["CurrentFilter"]" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PublisherName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Country)</td>
                    <td>
                        <a href="Author/Edit/@item.PubId">View</a>
                    </td>
                    <td></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No authors available.</td>
            </tr>
        }
    </tbody>
</table>
